header {
    height: 50px;
}

article {
    width: 760px;
    height: 760px;
    margin-left: auto;
    margin-right: auto;
}

section {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 480px;
    height: 480px;
}